.account{
    position: relative;
}
.levelgoto{
    color: #7E7D88;
    padding-left: 10px;
    padding-right: 10px;
}

.accountinfo{
    display:flex;
    justify-content:space-between;
    
}

.accountinfolist{
    display: flex;
    align-items: center;
}
.accounttitle{
    font-family: Nunito;
    font-style: normal;
    font-weight: bold;
    font-size: 20px;
    line-height: 30px;
    color: #7E7D88;
}
.id{
    margin-left: -5px;
}
.accountgoto{
    color: #7E7D88;
    padding-left: 10px;
    padding-right: 10px;
}

.accountlist{
    font-family: Nunito;
    font-style: normal;
    font-weight: bold;
    font-size: 20px;
    line-height: 30px;
    color: #FF7506;

}

.bell{
    padding-right: 40px;
}

.accountcontainer{
    display: flex;
    flex-direction: column;
    width: 96%;
    margin-top: 40px;
}
/* .listadd{
    display: flex;
    flex-direction: column
} */
.accountlisttitle{
    font-family: Nunito;
    font-style: normal;
    font-weight: bold;
    font-size: 24px;
    line-height: 36px;
    color: #FF7506;

}

.accountlistitem{
    width: 1005;

}

.accountlistdrow{
    /* display: flex; */
    margin-top: 20px;
}
.accountitemdrow{
    display: flex;
     justify-content: space-between; 
    
}
.accountitem{
    margin-right: 30px;
  
}
/* .listitem{
    display: flex;
    justify-content: space-between;
} */

.accountname{
    font-family: Nunito;
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 24px;
    color: #282739;
}
.accountdrow{
   width: 300px;
   
} 

.accountdrow input{
  
    padding: 10px 16px 10px 12px;   
    background: #FFFFFF;
    border: 1.5px solid #D4D4D7;
    box-sizing: border-box;
    border-radius: 8px;
    width: 300px;
    height: 44px;
}

.fi_search{
    position: absolute;
    right: 92px;
    top: 178px;
}

.tablelistitem{
    margin-bottom:10px;
    width: 97.5%;
    filter: drop-shadow(2px 2px 8px rgba(232, 239, 244, 0.8));
    border-radius: 12px;
    display: flex;
    flex-direction:column;
    overflow:hidden;
    padding: 0px;
    margin-top:20px;
}

.accounttable{
    /* display: grid;
    grid-template-columns: 93px 162px 171px 161px 174px 147px 120px 78px; */
    display: flex;
    color:white;
    width: 100%;
    background: #FF9138;
}

.accounttablelist{
    display: flex;
    color:white;
    width: 100%;
    background: #FFFFFF;
}
.accounttablelist:nth-child(2n+1){
    background: #FFF2E7;

}

.accountitemname{
    display: flex;
    flex-direction: row;
    align-items:center;
    height: 49px;
    border-right: 1px solid #FFE3CD;
}

.accountitemnametitle{
    margin-left: 10px;
    font-family: Nunito;
    font-style: normal;
    font-weight: bold;
    font-size: 16px;
    line-height: 24px;

    color: #FFFFFF;
}

.accounttablelistid{
    display: flex;
    color:white;
    width: 100%;
    background: #FFF2E7;
}

.accountitemnameid{
    display: flex;
    flex-direction: row;
    align-items:center;
    height: 49px;
    border-right: 1px solid #FFE3CD;
}


.accountitemnametitleid{
    margin-left: 10px;
    font-family: Nunito;
    font-style: normal;
    font-weight: bold;
    font-size: 16px;
    line-height: 24px;
}

.accountitemlistnew{
    font-family: Nunito;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 21px;
    color: #4277FF;
    display: flex;
    align-items: center;
    text-decoration-line: underline;
    text-align: center;
    justify-content: center;
    color: #4277FF;
    margin-left: 25px;
}

.add{
    position:absolute;
    width: 80px;
    height: 80px;
    left: 1132px;
    top: 227px;
    display: flex;
    box-shadow: 0px 0px 6px #E7E9F2;
    border-radius: 8px 0px 0px 8px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 12px 4px;
    background: #FFF2E7;
}

.addaccount{
    font-family: Nunito;
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 19px;
    text-align: center;
    color: #FF7506;
    flex: none;
    margin: 4px 7px
}
.accounttitlename{
    font-family: Nunito;
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 19px;
    text-align: center;
    color: #FF7506;
    padding: 7px
}

.chosepape{
    width:90%;
    margin-top:10px;
    display:flex;
    justify-content: flex-end;
}
.logo{
    margin-left: 10px;
}