

.dashboadtitle{
    text-align: left;
    font-family: Nunito;
    font-style: normal;
    font-weight: bold;
    font-size: 20px;
    line-height: 30px;
    color: #FF9138;  
    /* margin: 0px 8px; */
}
.levelchart{
    color: #FF7506;
    font-family: Nunito;
    font-style: normal;
    font-weight: bold;
    font-size: 24px;
    line-height: 36px;  
    margin-top: 36px;
    
}
.chart{
    display: flex;
    padding-top: 15px;
    justify-content: space-between;
}
.dashboaditem{
    background-color: #fff;
    width: 186px;
    height: 120px;
    border-radius: 10px;
}
.itemtop{
    display: flex;
    padding: 10px 12px;
    align-items: center;
}

.itemtitle{
    font-family: Nunito;
    font-style: normal;
    font-weight: bold;
    font-size: 14px;
    line-height: 18px;
    margin-left: 10px;
    width: 70px;
    color: #535261;
}

.itembottom{
    display: flex;
    justify-content: space-between;
    padding: 0 12px;
    text-align: center;
}
.itemnumber{
    font-family: Nunito;
    font-style: normal;
    font-weight: bold;
    font-size: 30px;
    line-height: 45px;
}

.goup{

    margin-top: -4px;
}

.godown{
    margin-top: -4px;
}
.itemnprecentup{
    background: rgba(255, 149, 1, 0.15);
    border-radius: 7.18115px;
    display: flex;
    align-items: center;
    margin: 17px 0;
    padding: 0 7px;
    height: 11px;
    margin-top: 23px;
}
.itemnprecentdown{
    background: rgba(231, 63, 63, 0.15);
    border-radius: 7.18115px;
    display: flex;
    align-items: center;
    margin: 17px 0;
    padding: 0 7px;
    height: 11px;
    margin-top: 23px;
}
.precent{
    font-family: Nunito;
    font-style: normal;
    font-weight: normal;
    font-size: 8px;
    color: #FF9138;
    margin-left: 2px;
}

.monthchart{
    margin-top: 20px;
    display: flex;
    background-color: #FF9138;
    border-radius: 12px;
    
    justify-content: space-between;
}
.charttitle{
    color: #282739; 
    font-family: Nunito;
    font-style: normal;
    font-weight: bold;
    font-size: 20px;
    line-height: 30px;
}

.charttime{
    color: #A9A9B0;
    font-family: Nunito;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 21px;
}

.monthright{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-right: 30px ;
}

.chartitem{
    font-family: Nunito;
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 24px;
    color: #282739;
    flex: none;
    order: 0;
    flex-grow: 0;
    margin: 0px 8px;
}

.chartlist{
    padding: 8px 12px;
    background-color: white;
    border: 1.5px solid #D4D4D7;
    box-sizing: border-box;
    border-radius: 8px; 
    display: flex;
    
}

.drowdown{
    margin-left: 15px;
}

