
.dashboadleft{
   
    width: 200px;
    height: 810px;
  
    background: #FFFFFF;
    box-shadow: 0px 4px 6px rgba(219, 219, 219, 0.5);
    border-radius: 16px 0px 0px 16px;
}

.list ul {
    list-style: none;
    height: 48px;
    
}

.alta{
    position: absolute;
    width: 80px;
    height: 64px;
    left: 60px;
    top: 32px;;
}
.list{
    position: absolute;
    left: 0px;
    top: 150px;
    width: 200px;
    height: 288px;
    /* background-color: #FF9138; */
    
}

.list li img {
    vertical-align: middle;
}
.list button img {
    vertical-align: middle;
}
.listheight{
    font-family: Nunito;
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 24px;
    color: #7E7D88;
    margin: 0px 8px
}

.listtitle{
  
    height: 48px;
    background: #FFFFFF;
    display: block;
    border: 1px solid #FFFFFF ;
    position: relative;
}

span{
    margin-left: 20px;
    font-size: 14px;
}

.listitem{
   margin-top: 10px;
   margin-left: 10px;
}

.listtitle:hover{
    background: #FFF2E7;
    color: #FF7506;
}



.listitem:hover> a{
    color: #FF7506;
    
}

.logout{
    position: absolute;
    width: 176px;
    height: 48px;
    left: 12px;
    top: 580px;
    background: #FFF2E7;
    border-radius: 8px;
    display: flex;
    align-items: center;
    padding: 10px;
}



.color{
    color: #FF7506;
    font-family: Nunito;
    font-style: normal;
    font-weight: 580;
    font-size: 16px;
    line-height: 24px;
    margin-left: 20px;
}


.subnav{
    /* display: none; */
    /* background-color: red; */
    position: absolute;
    width: 200px;
    height: 144px;
    top: 0px;
    left: 199px;
    z-index: 1;
    background: #FFFFFF;
    display: grid;
    grid-template-rows: 48px 48px 48px;
    align-items: center;
    filter: drop-shadow(3px 3px 4px rgba(70, 64, 67, 0.1));
    border-radius: 0px 12px 12px 0px;
}

li{
    display: block;
}
.subnav li a {
    font-family: Nunito;
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 48px;
    color: #7E7D88;
    
}

.subnav li:hover>a{
    color: #FF7506;

}

.subnav li:hover{
    background: #FFF2E7;
    color: #FF7506;
}