 .Dropdown-control{
    height: 44px;
}

.react-datepicker-wrapper input{
    width: 130px;
}
.Dropdown-placeholder {
    width: 100px;
    height: 20px;
    line-height: 24px;
}

.Listdevice_devicedrow__fDtd+ .Dropdown-placeholder {
    width: 131px;
    height: 20px;
    line-height: 28px;
  }
  .Listdevice_devicedrow__IQ1D+ .Dropdown-placeholder {
    width: 131px;
    height: 20px;
    line-height: 28px;
  }