.App {
  display: flex;
}



.sdp {
  width: auto !important;
  height: 290px !important;
  --theme-color: orange !important;
  --disabled-color: orange !important;
}
.sdp--month-name {
  color: orange !important;
}
.sdp--square-btn__shadowed {
  color: orange !important;
}

.Dropdown-control {
  background: #FFFFFF !important;
  border: 1.5px solid #D4D4D7 !important;
  border-radius: 8px !important;
}
.Dropdown-arrow {
  border-color: #FF7506 transparent #FF7506 !important;
  top: 17px !important;
}
.Dropdown-placeholder{
  font-family: Nunito;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 24px;
  color: #535261;

}


.react-datepicker__input-container input {
  width:135px;
  color: #A9A9B0 !important;
  padding: 10px 10px 10px 31px;
  height: 45px;

  border: 1.5px solid #D4D4D7;
  box-sizing: border-box;
  border-radius: 8px
}
.react-datepicker__input-container::before {
  content: '';
  background-image: url(../src/Components/image/calendar.svg);
  position: absolute;
  width: 20px;
  height: 20px;
  left: 7px;
  top: 50%;
  transform: translateY(-50%);
}
.react-datepicker__input-container {
  position: relative;
}

.leveldrow .Dropdown-control{
  width: 154px;
}

